body{
    background-color: rgb(243, 237, 237);
}
input{
    width: 95%;
    margin: 20px 0px 20px 2.5%;
    height: 35px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(245, 245, 245);
    padding: 0px;
}
.campoNoticia{
    width: 95%;
    margin: 20px 0px 20px 2.5%;
    height: 35px;
    border-radius: 10px;
    height: 450px;
    resize: none;
    font-size: 30px;
    background-color: rgb(245, 245, 245);
    padding: 0px;
}

.button1{
    width: 95%;
    height: 50px;
    margin: 20px 0px 20px 2.5%;
    border-radius: 10px;
    border: solid 1px black;
    background-color: #7AA6FF;
    font-size: 30px;
}

.button1:hover{
    background-color: hsl(219, 100%, 82%);
}

h3{
    margin: 20px 0px 5px 2.5%;
    font-size: 28px;
}

h1{
    margin-top: 0px;
    margin-left: 0%;
    font-size: 35px;
    text-align: center;
}

.center{
    width: 60%;
    margin-left: 19%;
    margin-top: 0px;
    background-color: #A0A6FA;
    border-radius: 10px;
    padding: 20px;
}

.collapsible{
    background-color: #7AA6FF;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    height: 40px;
    position: relative;
    margin: 5px;
}
.content {
    padding: 40px;
    display: none;
    width: 80%;
    margin-left: 8%;
    overflow: hidden;
    background-color: #A0A6FA;
    position: absolute;
    z-index: 1;
    border: #555 solid 1px;
    height: 100%;
    border-radius: 10px;

  }
.active, .collapsible:hover {
    background-color: #555;
}
